html {
    color: #4a4a4a;
}

header {
    height: 64px;
    width: 100%;
}

nav {
    user-select: none;
    height: 100%;
    margin: 24px;
}

nav a {
    height: 32px;
    text-decoration: none;
    margin: 16px;
    color: #4a4a4a;
    font-weight: bolder;
    float: right;
}

nav a:hover{
    opacity: 0.8;
    border-bottom: 1px solid black;
}
.logo-container {
    height: 100%;
    margin-left: 24px;
    display: inline-flex;
    float: left;
    align-items: center;
}
.logo-container img{
    height: 60px;
  
}
.logo-container p{
    font-size: 32px;
    display: inline;
  
}

.logo-container p span {
    
    color: #d8d8d8;
  
}
.desktop-nav {
    width: 100%;
    height: 100%;
    float: right;
}
.mobile-nav {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    float: none;
}

/* mobile queries for navbar and header */

@media only screen and (max-width: 1024px) {
    .mobile-nav {
        visibility: visible;
    }
    .desktop-nav {
        visibility: hidden;
        display: none;
    }
    .logo-container {
        visibility: hidden;
        display: none;
    }
    nav a {
        float: none;
    }
}

section:nth-of-type(1) {
    display: flex;
    background-color: #d8d8d8;
    width: 100%;
    height: 100%;
    align-items: center;
}

section:nth-of-type(1) img {
    float:left;
    margin: 32px 24px;
    width: 60%;
}

section:nth-of-type(1) div {
    user-select: none;
    width: 30%;
    float: left;
    margin: 32px 24px;
}

section:nth-of-type(1) div p{  
    margin: 24px;
    font-size: 1.75em;
    font-weight: bold;
  
}

section:nth-of-type(1) div h1{
    margin: 24px;
    font-size: 3em;
     
   }

section:nth-of-type(1) div button {
    margin: 24px;
    font-size: 1.2em;
    width: 100%;
    background-color: #4a4a4a;
    color: #d8d8d8;
    border: none;
    padding: 8px;
}

section:nth-of-type(1) div button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* mobile queries start section*/

@media only screen and (max-width: 1024px) {
    section:nth-of-type(1) {
        display: block;
    }
    section:nth-of-type(1) img {
        margin: 0;
        width: 100%;

    }
    section:nth-of-type(1) div {
        background-color: #d8d8d8;
        margin: 0;
        width: 100%;
    }

    section:nth-of-type(1) div h1{
    margin: 24px;
    font-size: 3em;
     
   }

   
   section div button{
    margin: 24px;
    width: 80%;
     
   }
}

section:nth-of-type(2) {
    background-color: white;
    box-sizing: border-box;
}

section:nth-of-type(2) .container{
 
    width: 100%;
    margin: 32px 24px;
}


section:nth-of-type(2) .container article{
    float: left;
    width: 60%;
}

section:nth-of-type(2) .container article h2{

    font-size: 2em;
}


section:nth-of-type(2) .container article img{
    width: 100%;
}

section:nth-of-type(2) .container aside {
    float: left;
    width: 40%;
}

section:nth-of-type(2) .container aside div {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    margin-left: 16px;
}



section:nth-of-type(2) .container aside div img {
    float: left;
    height: auto;
    width: 35%;
}

section:nth-of-type(2) .container aside div div {
    display: block;
    float: right;
    width: 65%;
}

section:nth-of-type(2) .container aside div div h3{
    font-size: 1.5em;
}

section:nth-of-type(2) .container aside div div a{
    text-decoration: none;
    color:#37b6ee;
}